@import '../../../public/theme/_var.scss';

.form-label,
.form-check-label {
    display: block;
    color: $white;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.customInput,
.react-tel-input {
    margin-bottom: 2rem;
    line-height: normal;

    @media (max-width:767px) {
        margin-bottom: 1.5rem;
    }

    &_inner {
        position: relative;

        .allocP {
            position: absolute;
            top: 13px;
            right: 1rem;
            color: $white;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    label { 
        display: block;
        color: $white;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;

        @media(max-width:1199px) {
            font-size: 1.4rem;
        }
    }

    .form-control {
        min-height: 44px;
        box-shadow: none;
        outline: none;
        width: 100%;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
        border: 1px solid $borderclr;
        background-color: transparent;
        color: $white;
        font-size: 1.6rem;

        @media (max-width:1599px) {
            min-height: 52px;
            font-size: 1.4rem;
        }

        &.is-invalid,
        &.was-validated,
        &:invalid {
            background-image: none;
            border-color: $redclr;
        }

        &:hover {
            appearance: none;
        }

        &::placeholder {
            color: #818181;
            opacity: 1;
        }

        &:disabled {
            background-color: $clr5B5B5B;
        }

        &:focus {
            box-shadow: none;
            border: 1px solid $borderclr;
            background-color: transparent;
            color: $white;
        }

        &.passwordInput {
            padding-right: 4.375rem;
        }
    }

    &.passwordInput {
        .form-control {
            padding-right: 3.75rem;
        }
    }

    .eyeIcon {
        position: absolute;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        display: flex;

        svg {
            width: 2rem;
            height: 2rem;

            path {
                fill: #818791;
            }
        }
    }

    .rightPosition {
        position: absolute;
        top: 10px;
        right: 1.6rem;
        cursor: pointer;
    }
}

.checkbox_input {
    .form-check {
        margin-bottom: 0;
        padding: 0;
        display: flex;
        align-items: center;

        .form-check-input {
            float: unset;
            margin: 0;
            box-shadow: none;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $borderclr;

            &:checked {
                border-color: $baseclr;
            }

            &:checked[type=checkbox] {
                background-color: $baseclr;
                border-color: $baseclr;
            }

            &:checked[type=radio] {
                // background-image: url("../../../../assets/images/icons/dot.svg");
                background-size: 10px;
            }
        }

        .form-check-label {
            line-height: 1;
            margin-left: 10px;
            margin-bottom: 0;
        }

        &.form-switch {
            .form-check-input {
                width: 32px;
                height: 20px;
                background-color: $white;
                border-color: $white;
                background-size: 18px;
                // background-image: url("../../../public/assets/images/icons/dot.svg");

                &:checked {
                    background-color: $baseclr;
                    border-color: $baseclr;
                }
            }
        }
    }
}

.error-message {
    color: $redclr;
    font-size: 0.875rem;
    line-height: normal;
    display: block;
    padding-top: 5px;
    font-weight: 400;
}

.form-control {
    min-height: 56px;
    box-shadow: none;
    outline: none;
    width: 100%;
    padding: 0.5rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid $white;
    background-color: $white;
    color: $black;
    font-size: 1.6rem;

    @media (max-width:1599px) {
        min-height: 52px;
        font-size: 1.4rem;
    }

    &.is-invalid,
    &.was-validated,
    &:invalid {
        background-image: none;
        border-color: $redclr;
    }

    &:hover {
        appearance: none;
    }

    &::placeholder {
        color: $white;
    }

    &:disabled {
        background-color: transparent;
    }

    &:focus {
        box-shadow: none;
        border: 1px solid $white;
        background-color: $white;
        color: $white;
    }

    &.passwordInput {
        padding-right: 4.375rem;
    }
}