@import "../../../../public/theme/_var.scss";

.banner {
  position: relative;
  overflow: hidden;

  .banner-video {
    position: absolute;
    top: 0;
    right: 30px;
    width: calc(100% - 60px);
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    @media (max-width: 767px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      right: 0;
      width: 100%;
      object-position: right;
    }
  }

  .container {
    @media (max-width: 767px) {
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(10px);
    }
  }

  .banner_in {
    padding: 13.4rem 0;

    @media (max-width: 1599px) {
      padding: 10rem 3rem;
    }

    @media (max-width: 1439px) {
      padding: 8rem 3rem;
    }

    @media (max-width: 767px) {
      padding: 5rem 0;
    }

    .banner_content {
      width: fit-content;
      padding: 10rem 0;
      position: relative;
      z-index: 1;

      @media (max-width: 767px) {
        padding: 0rem 0 5rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50px;
        width: 50.2rem;
        height: 86.4rem;
        background-image: url(../../../../public/images/rupee-symbol.png);
        background-size: contain;
        pointer-events: none;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
      }

      h1 {
        font-size: 9rem;
        font-weight: 300;
        background: $gradient;
        width: fit-content;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 1439px) {
          font-size: 7rem;
          line-height: 8.5rem;
        }

        @media (max-width: 767px) {
          font-size: 4.5rem;
          line-height: 5.5rem;
        }
      }

      p {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba($white, 0.4);

        span {
          font-size: 8.2rem;
          color: $white;
          line-height: 9.8rem;
          font-weight: 300;

          @media (max-width: 1439px) {
            font-size: 7rem;
            line-height: 8.5rem;
          }

          @media (max-width: 767px) {
            font-size: 4.5rem;
            line-height: 5.5rem;
          }
        }
      }

      .des {
        font-size: 18px;
        color: $lightwhiteclr;
        line-height: 22px;
        font-weight: 400;
        max-width: 277px;
        margin-top: 20px;

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    button {
      padding: 8px 20px;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid $white;
      color: $white;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      margin-top: 38px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $baseclr;
        color: $white;
        border-color: $baseclr;
      }
    }

    ul {
      position: absolute;
      bottom: 70px;
      right: 14.2rem;
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        bottom: 25px;
        right: 5.2rem;
      }



      li {
        margin-left: 3rem;

        a {
          svg {
            path {
              fill: rgba($white, 0.1);
            }
          }

          &:hover {
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
}